<p>
  about works!
  
</p>
<h2>rating={{ratingValue}}</h2>
<p>
  This is what I'm all about. <a href="" (click)="sendMeHome()"><strong>Take me back</strong></a>.
</p>

<ul>
  <li *ngFor="let goal of goals">
    {{ goal }}
  </li>
</ul>
